---
import Banner from "../Components/Banner.astro"
import Navbar from "../Components/Navbar.astro"
import Cards from "../Components/Cards.astro"
import Footer from "../Components/Footer.astro"
import Servicios  from "../pages/Servicios.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar/>
		<Banner/>
		<Cards/>
		<Servicios/>
		<Footer/>
	</body>
</html>
